*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 40px;
}
body{
    background-color: #05fabd;
}
.container{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
}

.cards{
    display: flex;
    flex-wrap: no-wrap;
    justify-content: space-between;
    flex-direction: row;
    overflow: scroll;
}

.card{
    height: 6rem;
    width: 8rem;
    background: rgba(0, 0, 0, 0.7);
    margin: 10px;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}

